<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%-5level: [%thread] +%-4relative ms  %date{dd MMM yyyy - HH:mm:ss.SSS} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Fappender" class="ch.qos.logback.core.FileAppender">
      <file>mzdb-processing-${user.name}.log</file>
      <append>true</append>
      <encoder>
        <pattern>%-5level: %logger{35} [%thread] %date{dd MMM yyyy - HH:mm:ss} - %msg%n</pattern>
      </encoder>       
   </appender>


  <root level="debug">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="Fappender" />    
  </root>
  
</configuration>